<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwtech.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    
    <uses-feature android:glEsVersion="0x00020000" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>